<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>BODKA WEB FRAMEWORK</title>

</head>
<body>
    <canvas id="glCanvas" width="1024" height="800"></canvas>
    <playbackSlider id="input"></playbackSlider>
    <script src="/modules/gl-matrix.js"></script>
    <script src ="/js/main.js"> </script>
    <script src ="/js/drawScene.js"> </script>
    <script src ="/js/control.js"></script>
    <script src ="/js/setup.js"></script>
    <script src ="/js/mesh.js"></script>
    <script src ="/js/player.js"></script>
    <script src ="/js/sphere.js"></script>
    <script src ="/js/particles.js"></script>
    

    <script src ="/shaders/fragmentShader.js"> </script>
    <script src ="/shaders/vertexShader.js"></script>
    
    <script src="/obj_models/monkeyHead.js"></script>
    <script src="/obj_models/cube.js"></script>
   

   
    


   
    <script>main();</script>
    
    
</body>
</html>